body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'pompadur';
    src: url("/public/assets/fonts/pompadur.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aurora-script';
    src: url("/public/assets/fonts/aurora-script.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'good-vibes-cyr';
    src: url("/public/assets/fonts/good-vibes-cyr.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'old-standard-tt';
    src: url("/public/assets/fonts/old-standard-tt-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'old-standard-tt';
    src: url("/public/assets/fonts/old-standard-tt-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'old-standard-tt';
    src: url("/public/assets/fonts/old-standard-tt-bold.ttf") format("truetype");
    font-weight: bold;
}