body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'pompadur';
    src: url("/public/assets/fonts/pompadur.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aurora-script';
    src: url("/public/assets/fonts/aurora-script.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}