body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'pompadur';
    src: url("/public/assets/fonts/pompadur.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aurora-script';
    src: url("/public/assets/fonts/aurora-script.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'good-vibes-cyr';
    src: url("/public/assets/fonts/good-vibes-cyr.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'old-standard-tt';
    src: url("/public/assets/fonts/old-standard-tt-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'old-standard-tt';
    src: url("/public/assets/fonts/old-standard-tt-italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'old-standard-tt';
    src: url("/public/assets/fonts/old-standard-tt-bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'als-finlandia-script';
    src: url("/public/assets/fonts/als-finlandia-script.otf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'als-finlandia-script';
    src: url("/public/assets/fonts/als-finlandia-script-bold.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'tagesschrift';
    src: url("/public/assets/fonts/tagesschrift.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'bully-g';
    src: url("/public/assets/fonts/bully-g-regular.otf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: 'bully-g';
    src: url("/public/assets/fonts/bully-g-bold.otf") format("truetype");
    font-weight: bold;
}