:root {
    --color-primary: #67001E;
    --color-secondary: #FFEBED;
    --text-base-color: white;
    --text-on-light-color: #67001E;
    --text-on-dark-color: #F7D88C;
    --text-base-font-size: 15em;
    --font-family-monospace: courier, courier;
}